@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*-----------General Part-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #050e2d;

}

.animeX {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.animeX.active {
    transform: translateY(0px);
    opacity: 1;
}

a {
    text-decoration: none;
}

h1 {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

/*-----------Header Part-----------*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #d639c4;
    border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover {
    background: #8a2b7f;
    border-radius: 6px;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
}

header.sticky {
    background: #1b2141;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
        -0.025em -.05em 0 rgba(0, 255, 0, .75),
        0.025em 0.05em 0 rgba(0, 0, 255, .75);
    animation: glitch 500ms infinite;
}

.logo span {
    position: absolute;
    top: 0;
    left: 0;
}

.logo span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}

.logo span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    /* color: red; */
    opacity: 0.8;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
            -0.05em -0.025em 0 rgba(0, 255, 0, .75),
            -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }

    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
            -0.05em -0.025em 0 rgba(0, 255, 0, .75),
            -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }

    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, .75),
            0.025em 0.025em 0 rgba(0, 255, 0, .75),
            -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }

    49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, .75),
            0.025em 0.025em 0 rgba(0, 255, 0, .75),
            -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }

    50% {
        text-shadow: 0.025em 0.05 0 rgba(255, 0, 0, .75),
            0.05em 0 0 rgba(0, 255, 0, .75),
            0 -0.05em 0 rgba(0, 0, 255, .75);
    }

    99% {
        text-shadow: 0.025em 0.05 0 rgba(255, 0, 0, .75),
            0.05em 0 0 rgba(0, 255, 0, .75),
            0 -0.05em 0 rgba(0, 0, 255, .75);
    }

    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, .75),
            -0.025em -0.025em 0 rgba(0, 255, 0, .75),
            -0.025em -0.05em 0 rgba(0, 0, 255, .75);
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;

}

header ul li a:hover {
    transition: 0.5s;
    transition-delay: 1.5;
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #fff,
        0 0 60px #fff;
}

header .action .searchBx {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}

header .action .searchBx i {
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}

header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}

/*-----------Home Banner Part-----------*/
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner .bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner .bg .content {
    width: 50%;
    height: 100%;

}

.banner .bg .content h2 {
    font-size: 4em;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.banner .bg .content p {

    font-size: 1em;
    color: #dbd9d9;
    letter-spacing: 1px;

}

.banner .bg .content a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
}

.banner .bg .content a:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

.banner .bg .content a span {
    position: relative;
    z-index: 100;
}

.imgBx img {
    position: relative;
    left: 120px;
    width: 600px;
    animation: animate 5s linear infinite, pulse 3s infinite;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(207, 42, 186), 0 0 20px rgb(207, 42, 186), 0 0 40px rgb(238, 44, 130), 0 0 80px rgb(238, 44, 130), 0 0 1600px rgb(207, 42, 186);
    background: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgb(207, 42, 186), 0 0 20px rgb(207, 42, 186), 0 0 40px rgb(238, 44, 130), 0 0 80px rgb(238, 44, 130), 0 0 1600px rgb(207, 42, 186);
    }

    20% {
        box-shadow: 0 0 10px rgb(238, 44, 130), 0 0 20px rgb(207, 42, 186), 0 0 40px rgb(207, 42, 186), 0 0 80px rgb(207, 42, 186), 0 0 1600px rgb(238, 44, 130);
    }

    40% {
        box-shadow: 0 0 10px rgb(207, 42, 186), 0 0 20px rgb(207, 42, 186), 0 0 40px rgb(238, 44, 130), 0 0 80px rgb(238, 44, 130), 0 0 1600px rgb(207, 42, 186);
    }

    60% {
        box-shadow: 0 0 10px rgb(238, 44, 130), 0 0 20px rgb(207, 42, 186), 0 0 40px rgb(207, 42, 186), 0 0 80px rgb(207, 42, 186), 0 0 1600px rgb(238, 44, 130);
    }

}

@keyframes animate {

    0%,
    100% {
        transform: translateY(50px);
    }

    50% {

        transform: translateY(100px);
    }
}

.ball {
    animation: animate 5s linear infinite, pulse 3s infinite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 100px;
    box-shadow: 0 0 10px rgb(207, 42, 186), 0 0 20px rgb(207, 42, 186), 0 0 40px rgb(238, 44, 130), 0 0 80px rgb(238, 44, 130), 0 0 1600px rgb(207, 42, 186);
    background: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);

    /* box-shadow: inset 0 0 10px #C1AAC6, inset 3px 0 10px #d639c4, inset 700px 0px 1000px #D89EDF, inset -200px -60px 330px #fde9ea, inset 0 50px 10px #fde9ea, 0 0 10px #fff; */
}

/* .ball:hover{
    box-shadow: 0 0 10px rgb(238,44,130),
    0 0 20px rgb(238,44,130),
    0 0 40px rgb(238,44,130),
    0 0 80px rgb(238,44,130),
    0 0 1600px rgb(238,44,130);
    background: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
    /* box-shadow: inset 0 0 10px #C1AAC6, inset 3px 0 10px #d639c4, inset 700px 0px 1000px #D89EDF, inset -200px -60px 330px #fde9ea, inset 0 50px 10px #fde9ea, 0 0 10px #fff;
}*/

.ball1 {
    animation: float 3.5s ease-in-out infinite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    left: 350px;
    top: 500px;
    background: radial-gradient(circle at 75% 30%, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
}

.ball2 {
    animation: float 3.5s ease-in-out infinite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    left: 1500px;
    top: 450px;
    background: radial-gradient(circle at 75% 30%, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
}

.ball3 {
    animation: float 3.5s ease-in-out infinite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    left: 790px;
    top: -55px;
    background: radial-gradient(circle at 75% 30%, white 5px, #d639c4 8%, #DB9EDF 60%, #d639c4 100%);
    box-shadow: inset 0 0 10px #C1AAC6, inset 3px 0 10px #d639c4, inset 700px 0px 1000px #D89EDF, inset -200px -60px 330px #fde9ea, inset 0 50px 10px #fde9ea, 0 0 10px #fff;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.shadow {
    background: #DB9EDF;
    width: 150px;
    height: 40px;
    top: 70%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
}

@keyframes expand {

    0%,
    100% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }
}

/*-----------About Part-----------*/
.about {
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .contentBx {
    /*     width: 50%; */
    margin: 20px;
}

.about .contentBx h2 {
    font-size: 3em;
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .contentBx p {
    max-width: 600px;
    text-align: justify;
    color: #dbd9d9;
}

.about .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
}

.about .contentBx a:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

.imgBox img {
    position: relative;
    left: -1px;
    top: -90px;
    width: 600px;
    animation: animate 5s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
}

.imgBox img {
    position: relative;
    left: -1px;
    top: -90px;
    width: 600px;
    animation: animate 5s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
}

/*-----------Cards Part-----------*/
.containercard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.cards {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    /* background: linear-gradient(135deg, #d41e31, #491f8f); */
    background: linear-gradient(135deg, #050e2d, #4b01e096);
    /* box-shadow: 0 0 5px #491f8f,
    0 0 15px #491f8f,
    0 0 20px #491f8f,
    0 0 40px #491f8f,
    0 0 80px #491f8f; */
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.cards1 {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    /* background: linear-gradient(135deg, #d41e31, #491f8f); */
    background: linear-gradient(135deg, #050e2d, #4b01e096);
    /* box-shadow: 0 0 5px #491f8f,
     0 0 15px #491f8f,
     0 0 20px #491f8f,
     0 0 40px #491f8f,
     0 0 80px #491f8f; */
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.cards1 img,
.cards img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}

.cards1:hover img,
.cards:hover img {
    left: 80%;
    height: 500px;
}

.cards1 .contentcards,
.cards .contentcards {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.cards1:hover .contentcards,
.cards:hover .contentcards {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.cards1 .contentcards h2,
.cards .contentcards h2 {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.cards1 .contentcards p,
.cards .contentcards p {

    color: #dbd9d9;
}

.cards1 .contentcards a,
.cards .contentcards a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid #491f8f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
}

.cards1 .contentcards a:hover,
.cards .contentcards a:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #491f8f,
        0 0 20px #491f8f,
        0 0 40px #491f8f,
        0 0 80px #491f8f,
        0 0 1600px #491f8f;
    background: #491f8f;
}

/*-----------Games Part-----------*/
.games {
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

.games h2 {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}

.games ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.games ul li {
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
}

.games ul li.active {
    background: #d639c4;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
}

/* Cards start */
.games .cardBx {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.games .cardBx .card {
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1b2141;
    overflow: hidden;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.games .cardBx .card img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.games .cardBx .card .content {
    padding: 10px;
}

.games .cardBx .card .content h4 {
    color: #fff;
    margin: 15px 0;
}

.games .cardBx .card .info {
    border-top: 2px solid #35407e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games .cardBx .card .info p {
    font-size: 1em;
    color: #fff;
}

.games .cardBx .card .info p span {
    color: #d639c4;
}

.games .cardBx .card .info a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
}

.games .cardBx .card .info a:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

.games .cardBx .card.hide {
    display: none;
}

/*-----------Tournaments Part-----------*/
.tournaments {
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tournaments h2 {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}

.tournaments .boxBx {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tournaments .boxBx .box {
    width: 350px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1b2141;
    overflow: hidden;
}

.tournaments .boxBx .box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tournaments .boxBx .box .content {
    padding: 10px;
}

.tournaments .boxBx .box .content h4 {
    color: #fff;
    margin-top: 15px;
}

.tournaments .boxBx .box .content h4 span {
    color: #1aeeef;
}

.tournaments .boxBx .box .content p {
    text-align: justify;
    color: #dbd9d9;
    margin-top: 10px;
}

.tournaments .boxBx .box .content .btn {
    display: flex;
    justify-content: space-between;
}

.tournaments .boxBx .box .content .join,
.tournaments .boxBx .box .content .watch {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
}

.tournaments .boxBx .box .content .join:hover,
.tournaments .boxBx .box .content .watch:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

/*-----------Contact Us Part-----------*/
.contact {
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.contact .form {
    width: 50%;
    margin: 30px;
}

.contact .form h1 {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact .form .inputBx {
    margin: 10px 0;
}

.contact .form .inputBx p {
    color: #fff;
}

.contact .form .inputBx input,
.contact .form .inputBx textarea {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: #1b2141;
    min-height: 15px;
    font-size: 1.1em;
}

.contact .form .inputBx textarea {
    height: 150px;
}

.contact .form .inputBx input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    width: 150px;
}

.contact .form .inputBx input[type="submit"]:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

/*-----------Footer Part-----------*/
footer {
    padding: 10px 100px;
    margin-top: 100px;
    /* background: #1b2141; */
    /* position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; */
}

footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

footer .info p {
    color: #dbd9d9;
}

footer .info ul {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .info ul li {
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d639c4;
}

footer .info ul li:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

footer .info ul li a i {
    font-size: 1.5em;
    color: #fff;
}

footer .info ul li:hover a i {
    color: #050e2d;
}

/*-----------Login Part-----------*/
.containerlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;

}

.containerlogin .boxlogin {
    position: relative;
    top: middle;
    width: 380px;
    height: 420px;
    background: #1b2141;
    overflow: hidden;
    box-shadow: 0 0 10px #1b2141, 0 0 20px #1b2141, 0 0 40px #1b2141, 0 0 80px #1c1c1c, 0 0 1600px #1b2141;
}

.containerlogin .boxRegister {
    position: relative;
    top: middle;
    width: 380px;
    height: 1000px;
    background: #1b2141;
    overflow: hidden;
    box-shadow: 0 0 10px #1b2141, 0 0 20px #1b2141, 0 0 40px #1b2141, 0 0 80px #1c1c1c, 0 0 1600px #1b2141;
}

.containerlogin .boxlogin::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    transform-origin: bottom right;
    animation: led 6s linear infinite;
}

.containerlogin .boxlogin::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    transform-origin: bottom right;
    animation: led 6s linear infinite;
    animation-delay: 3s;
}

@keyframes led {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.formlogin {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #1b2141;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;

}

/* .formlogin h2 {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
} */

.inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input[type="date"]:focus,
.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox input[type="date"] {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.selection {
    position: relative;
    width: 100%;
    padding: 20px 0px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(27 33 91 / 200%);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 44px
}

.links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    width: 150px;
    cursor: pointer;
}

input[type="submit"]:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

input[type="submit"]:active {
    opacity: 0.8;
}

/* .imgBxLogin img {
    position: relative;
    left: 800px;
    top: 250px;
    width: 300px;
    animation: animate 5s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
} */

/*-----------Register Part-----------*/
.fakebody {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.containerbody {
    width: 400px;
    background: #1b2141;
    box-shadow: 0 0 10px #1b2141, 0 0 20px #1b2141, 0 0 40px #1b2141, 0 0 80px #1c1c1c, 0 0 1600px #1b2141;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}

.formlogin h2 .logo,
.containerbody h2 .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
        -0.025em -.05em 0 rgba(0, 255, 0, .75),
        0.025em 0.05em 0 rgba(0, 0, 255, .75);
    animation: glitch 500ms infinite;
}

.formlogin h2 span,
.containerbody h2 span {
    position: absolute;
    top: 0;
    left: 0;
}

.formlogin h2 span:first-child,
.containerbody h2 span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}

.formlogin h2 span:last-child,
.containerbody h2 span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    /* color: red; */
    opacity: 0.8;
}

/* .containerbody h2{
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
  } */
.containerbody .form-outer {
    width: 100%;
    overflow: hidden;
}

.containerbody .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
	border-radius: 10px;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    background: rgb(27 33 91 / 200%);
    color: white;
}

form .page .field select {
    font-size: 17px;
    font-weight: 500;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: transparent;
    color: #fff;
    background: rgb(27 33 91 / 200%);
}

form .page .field button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    width: 150px;
    cursor: pointer;
}

form .page .field button:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.containerbody .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.containerbody .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.containerbody .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #d639c4;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .step .bullet.active {
    border-color: #d639c4;
    background: #d639c4;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4;

}

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: black;
}

.progress-bar .step .bullet.active:after {
    background: #d639c4;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4;
    transform: scaleX(0);
    transform-origin: left;
    animation: progress 0.3s linear forwards;
}

@keyframes progress {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: #d639c4;
    text-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4;
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

.toggle-password {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 4px;
    right: 2px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.toggle-password.active i.fa-eye {
    display: none;
}

.toggle-password.active i.fa-eye-slash {
    display: inline;
}

.toggle-password i.fa-eye-slash {
    display: none;
}

.password-policies {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 0px;
    height: 0px;
    font-size: 15px;
    background: rgb(27 33 91 / 50%);
    box-shadow: 0 0 10px #1b2141, 0 0 20px #1b2141;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out,
        opacity 300ms ease-in-out;
}

.password-policies.active {
    opacity: 1;
    padding: 10px;
    height: 200px;
}

.password-policies>div {
    margin: 15px 10px;
    font-weight: 600;
    color: #888;
}

.password-policies>div.active {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*-----------Shop Games Part-----------*/
.price {
    font-size: 1em;
    color: #fff;
}

.price span {
    color: #d639c4;
}

/*-----------Product Details Part-----------*/
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

img.imgproduct {
    width: 100%;
    display: block;
    box-shadow: 0 0 10px #050e2d,
        0 0 20px #050e2d,
        0 0 40px #050e2d,
        0 0 80px #050e2d,
        0 0 160px #050e2d;
}

.img-display {
    overflow: hidden;
    box-shadow: 0 0 10px #050e2d,
        0 0 20px #050e2d,
        0 0 40px #050e2d,
        0 0 80px #050e2d,
        0 0 160px #050e2d;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px #050e2d,
        0 0 20px #050e2d,
        0 0 40px #050e2d,
        0 0 80px #050e2d,
        0 0 160px #050e2d;

}

.img-showcase img {
    min-width: 100%;
    box-shadow: 0 0 10px #050e2d,
        0 0 20px #050e2d,
        0 0 40px #050e2d,
        0 0 80px #050e2d,
        0 0 160px #050e2d;
}

.img-select {
    display: flex;
    box-shadow: 0 0 10px #050e2d,
        0 0 20px #050e2d,
        0 0 40px #050e2d,
        0 0 80px #050e2d,
        0 0 160px #050e2d;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);

}

.product-price .new-price {
    color: #f5f5f5;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.new-price span {
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.product-detail h2 {
    text-transform: capitalize;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    color: #f5f5f5;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
    color: #f5f5f5;

}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

input[type="number"] {
    width: 40px;
    height: 30px;
    padding: 5px;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    /* border-radius: 5px; */
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    width: 60px;
    /* border: 1.5px solid #ddd; */
    border-radius: 25px;
    text-align: center;
    /* padding: 0.45rem 0.8rem; */
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info .btn {
    /* display: block;
    /* margin: 0 auto; */
    padding: 10px 20px;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    width: 150px;
    cursor: pointer;
}

.purchase-info .btn:last-of-type {
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    width: 250px;
    cursor: pointer;
}

select.option {
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    width: 160px;
    cursor: pointer;
    padding: 10px 10px 10px;
    text-align: center;
    margin-right: 10px;
}

select.option:focus {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
    color: #fff;
    font-weight: bold;
}

.purchase-info .btn:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

/*-----------Table/Booking Part-----------*/
.bodycontain {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150vh;
    font-family: "Lato", sans-serif;
    margin: 0;
}

.price-container select:focus,
.clock-container select:focus,
.type-container select:focus {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4, 0 0 20px #d639c4, 0 0 40px #d639c4, 0 0 80px #d639c4, 0 0 1600px #d639c4;
    background: #d639c4;
}

.type-container {
    margin: 20px 0;
}

.price-container select,
.clock-container select,
.type-container select {
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.table {
    background-color: #964b00;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 50px;
    margin: 20px 30px 10px 40px;
}

.table.selected {
    background-color: green;
}

.table.sold {
    background-color: #fff;
}

.table:nth-of-type(2) {
    margin-right: 18px;
}

.table:nth-last-of-type(2) {
    margin-left: 18px;
}

.table:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .table:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: rgb(158, 248, 158);
}

/*-----------Cart Part-----------*/
.containercart {
    justify-content: center;
    align-items: center;
    min-height: 150vh;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    /*padding-left: 25px;
    padding-right: 25px;*/
    position: relative;
    top: 300px;
}

.cart-page {

    margin: 80px auto;

}

h2.title-page {
    top: 250px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    background: -webkit-linear-gradient(271deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table {

    width: 100%;
    border-collapse: collapse;

}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

tr.column {
    border-top: 2px solid #d639c4;
    border-right: 2px solid #d639c4;
    border-left: 2px solid #d639c4;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
}

th {

    text-align: left;
    padding: 5px;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*padding-bottom: 30px;*/
    font-weight: bold;
}

td {

    padding: 10px 5px;
    border-top: 2px solid #d639c4;
}

td input {

    width: 40px;
    height: 30px;
    padding: 5px;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
}

td input:hover {

    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
    border: 1px solid #d639c4;
}

a.remove {
    color: lightpink;
    font-size: 12px;
    font-weight: bold;
}

a.remove:hover {
    color: darkred;
}

td a.btn {
    padding: 10px 20px;
    margin: 15px 0;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: transparent;
    width: 150px;
}

td a.btn:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

td img {

    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.resume {

    color: #fff;
}

td.subtitle,
td.single-product-price,
small.single-product-price {
    background: -webkit-linear-gradient(250deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

td.quantity,
td.state,
td.clock,
td.platform,
td.product-price {
    color: #fff;
    font-weight: bold;
}

td.total-product-price {
    color: #fff;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 100px;
}

.total-price-pay table,
.total-price table {

    border-top: 3px solid rgba(255, 0, 208, 1);
    width: 100%;
    max-width: 400px;

}

td:last-child {

    text-align: right;
    font-weight: bold;

}

th:last-child {

    text-align: right;

}

.warning {
    font-weight: bold;
    background-color: darkred;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 75%);
    margin-bottom: 10px;
}

/*-----------Checkout Part-----------*/
.container_checkout {
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container_checkout form {
    background: #1b2141;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container_checkout form .inputCheckout {
    margin-top: 20px;
}

.container_checkout form .inputCheckout span {
    display: block;
    background: -webkit-linear-gradient(80deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;
}

.container_checkout form .inputCheckout input,
.container_checkout form .inputCheckout select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    background: rgb(27 33 91 / 50%);
}

.container_checkout form .flexCheckout {
    display: flex;
    gap: 15px;
}

.container_checkout form .flexCheckout .inputCheckout {
    flex: 1 1 150px;
}

.container_checkout form .submit-btn {
    width: 100%;
    cursor: pointer;
    padding: 10px 20px;
    margin: 15px 0;
    border: 1px solid #d639c4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    margin-top: 60px;
    background: transparent;
}

.container_checkout form .submit-btn:hover {
    transition: 0.5s;
    color: #050e2d;
    box-shadow: 0 0 10px #d639c4,
        0 0 20px #d639c4,
        0 0 40px #d639c4,
        0 0 80px #d639c4,
        0 0 1600px #d639c4;
    background: #d639c4;
}

.container_checkout .card-container_checkout {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container_checkout .card-container_checkout .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.container_checkout .card-container_checkout .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container_checkout .card-container_checkout .front .image img {
    height: 50px;
}

.card-number-CheckOut{
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.flexCheckOut {
    display: flex;
}

.Checkout:nth-child(1) {
    margin-right: auto;
}

.Checkout {
    font-size: 15px;
    color: #fff;
}

.container_checkout .card-container_checkout .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.back .stripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.back .Checkout {
    padding: 0 20px;
}

.back .Checkout span {
    color: #fff;
    font-size: 15px;
}

.back .Checkout .cvv-Checkout {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container_checkout .card-container_checkout .back .Checkout img {
    margin-top: 30px;
    height: 30px;
}

.Checkout {
    margin-right: auto;
}

.CheckOut {
    margin-right: auto;
    font-size: 15px;
    color: #fff;
}

.inputCheckOut {
	
	margin-top: 20px;
    
}

input.card-number-input, input.card-holder-input, select.year-input, select.month-input, input.cvv-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    background: rgb(27 33 91 / 50%);
}

.back .CheckOut {
    padding: 0 20px;
}

.Checkout span {
    color: #fff;
    font-size: 15px;
}

.cvv-CheckOut {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

span_checkout {
    display: block;
    background: -webkit-linear-gradient(80deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;
}

span.span_checkout {
    display: block;
    background: -webkit-linear-gradient(80deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;
}

.flexCheckOut {
    gap: 44px;
}

.expiration {
    position: absolute;
    right: 10px;
    top: 195px;
}

span.deadline {
    position: absolute;
    right: 9px;
}

img.cvv-chip {
    margin-top: 30px;
    height: 30px;
}

.total-price_checkout {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 180px;
}

table.checkout_table {
    border-top: 3px solid rgba(255, 0, 208, 1);
    width: 565px;
    max-width: 100%;
}

td.subtitle-checkout {
    background: -webkit-linear-gradient(250deg, rgba(255, 0, 208, 1) 0%, rgba(140, 53, 232, 1) 40%, rgba(27, 105, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    border: transparent;
}

td.subtotal-product-price-checkout, td.tax-product-price-checkout, td.total-product-price-checkout {
    color: white;
    border: transparent;
}


/*-----------Responsive Part-----------*/
@media screen and (min-width: 992px) {
    .card-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}

@media (max-width: 991px) {

    header {
        padding: 15px 40px;
    }

    .imgBx img {
        flex-direction: column;
        left: 120px;
        top: 200px;
        width: 600px;
    }

    .ball {
        display: none;
    }

    header .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1b2141;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
    }

    header .nav li {
        margin: 20px 0;
    }

    header .nav li a {
        font-size: 24px;
        margin: 10px 0;
    }

    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1001;
    }

    header .nav.active {
        display: flex;
    }

    .toggleMenu.active {
        background: url(close.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
    }

    .banner .bg img {
        position: absolute;
    }

    .banner .bg .content {
        width: 100%;
        height: 100%;
        background: rgb(27 33 65 / 50%);
        padding: 20px;
        z-index: 1;
        border-radius: 10px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx {
        width: 100%;
    }

    .contact {
        flex-direction: column;
    }

    .contact img {
        height: 100%;
        width: 100%;
    }

    .contact .form {
        width: 100%;
        margin: 30px;
        padding: 10px;
    }

    .contact .form h1 {
        text-align: center;
    }

    footer .info {
        flex-direction: column;
    }

    .cards1 p,
    .cards p {
        font-size: 10px;
    }

    .cards1,
    .cards {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }

    .cards1:hover,
    .cards:hover {
        height: 600px;
    }

    .cards1:hover img,
    .cards:hover img {
        left: 50%;
        height: 350px;
    }

    .cards1 .contentcards,
    .cards .contentcards {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}

@media (max-width: 420px) {

    .cards1 .contentcards,
    .cards .contentcards {
        padding: 30px;
    }

    .cards1:hover img,
    .cards:hover img {
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 22px;
    }

    .single-product .col-2 img {
        left: 0;
    }
}