<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>game-Over</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>utente.control.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>utente.control.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/RemoveFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>utente.control.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>utente.control.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>utente.control.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/CancelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddressServlet</display-name>
    <servlet-name>AddAddressServlet</servlet-name>
    <servlet-class>utente.control.AddAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressServlet</servlet-name>
    <url-pattern>/AddAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiGiocoServlet</display-name>
    <servlet-name>AggiungiGiocoServlet</servlet-name>
    <servlet-class>gestorecatalogo.control.AggiungiGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiGiocoServlet</servlet-name>
    <url-pattern>/AggiungiGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiPostazioneServlet</display-name>
    <servlet-name>AggiungiPostazioneServlet</servlet-name>
    <servlet-class>gestorecatalogo.control.AggiungiPostazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiPostazioneServlet</servlet-name>
    <url-pattern>/AggiungiPostazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiTavoloServlet</display-name>
    <servlet-name>AggiungiTavoloServlet</servlet-name>
    <servlet-class>gestorecatalogo.control.AggiungiTavoloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiTavoloServlet</servlet-name>
    <url-pattern>/AggiungiTavoloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaGiocoServlet</display-name>
    <servlet-name>ModificaGiocoServlet</servlet-name>
    <servlet-class>gestorecatalogo.control.ModificaGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaGiocoServlet</servlet-name>
    <url-pattern>/ModificaGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaPostazioneServlet</display-name>
    <servlet-name>ModificaPostazioneServlet</servlet-name>
    <servlet-class>gestorecatalogo.control.ModificaPostazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaPostazioneServlet</servlet-name>
    <url-pattern>/ModificaPostazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaTavoloServlet</display-name>
    <servlet-name>ModificaTavoloServlet</servlet-name>
    <servlet-class>gestorecatalogo.control.ModificaTavoloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaTavoloServlet</servlet-name>
    <url-pattern>/ModificaTavoloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaCatalogoServlet</display-name>
    <servlet-name>RicercaCatalogoServlet</servlet-name>
    <servlet-class>gestorecatalogo.control.RicercaCatalogoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaCatalogoServlet</servlet-name>
    <url-pattern>/RicercaCatalogoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimuoviCatalogoServlet</display-name>
    <servlet-name>RimuoviCatalogoServlet</servlet-name>
    <servlet-class>gestorecatalogo.control.RimuoviCatalogoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimuoviCatalogoServlet</servlet-name>
    <url-pattern>/RimuoviCatalogoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaOrdineServlet</display-name>
    <servlet-name>ModificaOrdineServlet</servlet-name>
    <servlet-class>gestoreordini.control.ModificaOrdineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaOrdineServlet</servlet-name>
    <url-pattern>/ModificaOrdineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiltraOrdiniAlfabeticoServlet</display-name>
    <servlet-name>FiltraOrdiniAlfabeticoServlet</servlet-name>
    <servlet-class>gestoreordini.control.FiltraOrdiniAlfabeticoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltraOrdiniAlfabeticoServlet</servlet-name>
    <url-pattern>/FiltraOrdiniAlfabeticoServlet</url-pattern>
  </servlet-mapping>
</web-app>